@model List<Furniture>

@{
    ViewBag.Title = "";
    Layout = "_Layout";
}

<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>

<div class="card-buttons-group">
    <button class="btn btn-outline-info" id='showCardsId'>Показать</button>
    <button class="btn btn-outline-success" id='hideCardsId'>Скрыть</button>
</div>

<div style="padding: 10px;"></div>
@if (Model.Count == 0)
{
    <div class="row h-100 justify-content-center align-items-center">
        <div class="row row-cols-1 col-md-4 text-center">
            <div class="col" style="padding: 10px;">
                <div class="card">
                    <img src="https://present61.ru/upload/iblock/d77/kbl4yz93cg7iaayosk4tfeya9yjenrk7.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Список мебели пуст</h5>
                        <p class="card-text">Список пополниться позже, не расстраивайтесь</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row h-100 justify-content-center align-items-center">
        @foreach (var furniture in Model)
        {
            <div class="row row-cols-1 col-md-4 text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        <img src="https://static.wixstatic.com/media/0236ae_3515be0abe5045eca2b1f7b3f9af8eb3~mv2.jpg/v1/fit/w_500,h_500,q_90/file.jpg" class="card-img-top" alt="@furniture.Name">
                        <div class="card-body">
                            <h5 class="card-title">@furniture.Name</h5>
                            <p class="card-text">@furniture.Description</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Цвет: @furniture.Color</li>
                            <li class="list-group-item">Материал: @furniture.Material</li>
                            <li class="list-group-item">Стоимость: @furniture.Price ₽</li>
                        </ul>
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="mr-sm-2">
                                    <a asp-action="GetFurnitureById" asp-route-id="@furniture.Id" class="btn btn-outline-info">Подробно</a>
                                </div>
                                <div class="mr-sm-2">
                                    <form action="@Url.Action("AddInCartFurniture","Cart")" method="post">
                                        <input type="hidden" name="id" value="@furniture.Id" />
                                        <input type="hidden" name="price" value="@furniture.Price" />
                                        <button class="btn btn-outline-success" type="submit">Добавить в корзину</button>
                                    </form>
                                </div>
                                <div class="mr-sm-2">
                                    <form class="form-inline" action="@Url.Action("Save","Furniture")" method="get">
                                        <input type="hidden" name="id" value="@furniture.Id" />
                                        <button class="btn btn-outline-primary" type="submit">Изменить</button>
                                    </form>
                                </div>
                                <div class="mr-sm-2">
                                    <form class="form-inline" action="@Url.Action("DeleteFurniture","Furniture")" method="get">
                                        <input type="hidden" name="id" value="@furniture.Id" />
                                        <button class="btn btn btn-outline-danger" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </div>

                            @* <a asp-controller="Basket" asp-action="Add" asp-route-id="@id" class="card-link">Добавить</a> *@
                            @if (User.IsInRole("Admin"))
                            {
                                <hr />
                                <a asp-controller="Furniture" asp-action="Delete" asp-route-id="@furniture.Id" class="btn btn-danger">Удалить</a>
                                <a asp-controller="Furniture" asp-action="Save" asp-route-id="@furniture.Id" class="btn btn-primary">Изменить</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section pageScripts {
    <script>
        const hideCardElement = $('#hideCardsId');
        const showCardElement = $('#showCardsId');
        const cardElement = $('.card');

        const interval = 2000;

        hideCardElement.click(function () {
            hideCardElement.hide(interval);
            showCardElement.show(interval);
            cardElement.hide(interval);
        });

        showCardElement.click(function () {
            hideCardElement.show(interval);
            showCardElement.hide(interval);
            cardElement.show(interval);
        });
    </script>
}