@model Furniture

@{
    ViewBag.Title = "";
    Layout = "_Layout";
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="row row-cols-1 col-md-4 text-center">
        <div class="col" style="padding: 10px;">
            <div class="card">
                <img src="https://static.wixstatic.com/media/0236ae_3515be0abe5045eca2b1f7b3f9af8eb3~mv2.jpg/v1/fit/w_500,h_500,q_90/file.jpg" class="card-img-top" alt="@Model.Name">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Цвет: @Model.Color </li>
                    <li class="list-group-item">Материал: @Model.Material</li>
                    <li class="list-group-item">Стоимость: @Model.Price ₽</li>
                </ul>
                <div class="card-body">    
                    <form action="@Url.Action("AddInCartFurniture")" method="post">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <input type="hidden" name="price" value="@Model.Price" />
                        <button class="btn btn btn-outline-info" type="submit">Добавить в корзину</button>
                    </form>
                    @if (User.IsInRole("Admin"))
                    {
                        <hr />
                        <a asp-controller="Furniture" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Удалить</a>
                        <a asp-controller="Furniture" asp-action="Save" asp-route-id="@Model.Id" class="btn btn-primary">Изменить</a>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
}