@model Order

@{
    ViewBag.Title = "Корзина - ";
    Layout = "_Layout";
}

@if (Model == null || Model.Items.Count == 0)
{
    <div style="padding:40px;"></div>
    <div class="card col-md-12">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title text-center">Список заказов пуст :(</h5>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1>Корзина</h1>
    <div class="card">
        <table class="table table-sm table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">№</th>
                    <th scope="col" class="text-center">Название</th>
                    <th scope="col" class="text-center">Материал</th>
                    <th scope="col" class="text-center">Цвет</th>
                    <th scope="col" class="text-center">Количество</th>
                    <th scope="col" class="text-center">Цена</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
                @foreach (var furniture in Model.Items)
                {
                    <tr>
                        <td class="text-center">@(count++)</td>
                        <td class="text-center">@furniture.Name</td>
                        <td class="text-center">@furniture.Material</td>
                        <td class="text-center">@furniture.Color</td>
                        <td class="text-center">@furniture.Count</td>
                        <td class="text-center">@furniture.Price</td>
                        <td style="width:400px">
                            <div class="row justify-content-center align-items-center">
                                <div class="mr-sm-2">
                                    <a asp-controller="Furniture" asp-action="GetFurnitureById" asp-route-id="@furniture.FurnitureId" class="btn btn-outline-info">Подробно</a>
                                </div>
                                <div class="mr-sm-2">
                                    <form action="@Url.Action("ChangeOrder","Order")" method="post">
                                        <input type="hidden" name="id" value="@furniture.FurnitureId" />
                                        <input type="hidden" name="flag" value="@RequiredСonstants.DELETE_ITEM_ORDERS_CONST" />
                                        <button class="btn btn btn-outline-danger" type="submit">Удалить из корзины</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right font-weight-bold">Итого</td>
                    <td class="text-center font-weight-bold">@Model.TotalCount</td>
                    <td class="text-center font-weight-bold">@Model.TotalPrice</td>
                </tr>
            </tfoot>
        </table>
    </div>

    @* <div class="row">
        @foreach (var furniture in Model.Items)
        {
            <div class="row row-cols-1 @cardStyle text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        <img src="@furniture.Image" class="card-img-top" alt="@furniture.Name">
                        <div class="card-body">
                            <h5 class="card-title">@furniture.Name</h5>
                            <p class="card-text">@furniture.Description</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Цвет: @furniture.Color</li>
                            <li class="list-group-item">Материал: @furniture.Material</li>
                            <li class="list-group-item">Стоимость: @furniture.Price ₽</li>
                            <li class="list-group-item">Количество: @furniture.Count шт.</li>
                        </ul>
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center">
                                <div class="mr-sm-2">
                                    <a asp-controller="Furniture" asp-action="GetFurnitureById" asp-route-id="@furniture.FurnitureId" class="btn btn-outline-info">Подробно</a>
                                </div>
                                <div class="mr-sm-2">
                                    <form action="@Url.Action("ChangeOrder","Order")" method="post">
                                        <input type="hidden" name="id" value="@furniture.FurnitureId" />
                                        <input type="hidden" name="flag" value="@RequiredСonstants.DELETE_ORDERS_CONST" />
                                        <button class="btn btn-outline-success" type="submit">Удалить из корзины</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>*@
}