@using Furnituremarket.Domain.ViewModels.Order;

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Интернет магазин мебели</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/backImage.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/paragraph.css" />
    <link rel="stylesheet" href="~/css/card.css" />
    <link rel="stylesheet" href="~/css/label.css" />
</head>
<body class="backgroundImage">
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #B6AD9E;">
            <div class="collapse navbar-collapse">
                <div class="mr-sm-2">
                    <ul class="navbar-nav">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle paragraphLayout active text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Аккаунт
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="container">
                                        <div class="row">
                                            <div class="text-center">
                                                <ul class="nav flex-column paragraphHome">
                                                    <li class="nav-item" id="m1">
                                                        <a class="nav-link active text-white" asp-controller="Account" asp-action="Register">
                                                            Регистрация
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link active text-white" asp-controller="Account" asp-action="Login">
                                                            Вход
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                @*<a class="nav-link dropdown-toggle paragraphLayout active text-black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Аккаунт
                                </a>*@
                                <a class="nav-link dropdown-toggle paragraphLayout active text-black" href="#" data-toggle="dropdown">
                                    Админ
                                </a>
                                <div class="dropdown-menu">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="nav flex-column paragraphHome">
                                                    <li class="nav-item text-center">
                                                        <a class="nav-link active text-white" asp-controller="Car" asp-action="Save">
                                                            Добавление
                                                        </a>
                                                    </li>
                                                    <li class="nav-item text-center">
                                                        <a class="nav-link active text-white" asp-controller="Admin" asp-action="Index">
                                                            Пользователи
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="mr-sm-2">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input class="btn btn-outline-danger" type="submit" value="Выход" />
                        </form>
                    </div>
                    <div class="mr-sm-2">
                        <form class="form-inline" action="@Url.Action("GetAllFurniture","Furniture")" method="get">
                            <button class="btn btn-outline-success" type="submit">Показать всё</button>
                        </form>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="mr-sm-2">
                            <form class="form-inline" action="@Url.Action("SaveFurniture","Furniture")" method="get">
                                <button class="btn btn-outline-primary" type="submit">Добавить мебель</button>
                            </form>
                        </div>
                    }
                    <div class="mr-sm-2" style="width:362px">
                        <form class="form-inline my-2 my-lg-0" action="@Url.Action("GetFurniture","Furniture")" method="get">
                            <input class="form-control mr-sm-2 w-75" type="search" name="query" placeholder="Название, описание, цвет, цена" />
                            
                            <button class="btn btn-outline-info  my-2 my-sm-0" type="submit">Искать</button>
                        </form>
                    </div>
                    <div class="mr-sm-2">
                        <span class="navbar-text ml-auto">
                            @{
                                if (Context.Session.TryGetCart(out OrderViewModel cart) && cart.TotalCount > 0)
                                {
                                    <a href="@Url.Action("Detail","Order")">Товаров @cart.TotalCount на сумму @cart.TotalPrice</a>
                                }
                                else
                                {
                                    @:Корзина пуста
                                }
                            }
                        </span>
                    </div>
                }    
            </div>
            <a class="navbar-brand justify-content-end" asp-controller="Home" asp-action="Index">
                <span style="color:black; font-family:Romul; font-size:30px; background-color:transparent; border-radius:10px;">MasterovMarket</span>@*<img src="~/Img/LSKIcon.jpg" style="width:30px; height: 30px; border-radius: 10px;">*@
            </a>
        </nav>
    </header>
    <div class="container-fluid col-xl-12">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("pageScripts", required: false)
</body>
</html>